{% extends 'base.html' %}


{% block content %}


{% if error %}

{{ error }}
<br>
{% endif %}

<h1>Create</h1>

{% if error %}

{{ error }}
<br>
{% endif %}

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data">

    {% csrf_token %}

    <form>
        Title 
        <br>
        <input type="text" name="title">
<br>
            Body:
            <br>
            <input type="textbox" name="body">

<br>
URL 
        <br>
        <input type="text" name="url">
<br>
Icon 
        <br>
        <input type="file" name="icon">
<br>
Image 
        <br>
        <input type="file" name="image">
<br>
<br>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </div>
            </div>
    </form>

</form>



{% endblock %}